.shadow-sm.p-3.mb-5.bg-white.rounded
    div(class="container-fluid")
        div(class="row")
            div(class="col")
                h2 Information
                p
                |  The data for this project has been taken from ENTSOE Transparency Platform. The motivation for this project was my thesis.


